# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
ENV/

# OS junk
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Build artifacts
build/
dist/
*.spec

# Logs
*.log