# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Virtual env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Build artifacts
build/
dist/
*.spec

# Logs & misc
*.log
*.tmp
*.cache
